.cabeçalho {
	background-color: red;
	height: 40px;
	color: #fffafa;
	text-align: center;
	font-size: 40px;
}
.corpo {
	background-color: blue;
	height:800px;
	color: #fffafa;
	
}
.rodape {
	background-color: red;
	height: 20px;

}
